@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


// Styles pour les écrans de largeur supérieure ou égale à 500px
@media (min-width: 500px) {
  * {
    box-sizing: border-box;
    resize: none;
    font-family: 'K2D', sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }

  header {
    height: 80px;
    background-color: #1254b9;
    hr {
      border: 5px solid #FFD700;
    }
  }

  nav {
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      h1 {
        color: #FFD700;
      }

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50vw;
        list-style: none;
        text-decoration: none;

        li {
          a {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
            color: #FFD700;

            &:hover {
              color: #ffffff;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }



  /* Footer Section */
  footer {
    background-color: #1254b9;
    bottom: 0;
    position: relative;

    .footer_container{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      color: #FFD700;
      padding: 0 20px;
      
      .first-div h2{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 5%;
        color: #ffffff;
      }
        

      .first-div p{
        width: 250px;
        text-align: left;
        font-weight: bold;
      }

      .page-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .page-div a{
        text-align: center;
        text-decoration: none;
        color: #FFD700;
        font-size: 1rem;
        font-weight: bold;
        margin-top: 10%;
        &:hover {
          color: #ffffff;
          transition: 0.5s;
        }
      }

      .politics-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .politics-div a{
        text-align: center;
        text-decoration: none;
        color: #FFD700;
        font-size: 1rem;
        font-weight: bold;
        margin-top: 10%;
        &:hover {
          color: #ffffff;
          transition: 0.5s;
        }
      }

    }

    hr{
      border: 1px solid #FFD700;
      margin-top: 2%;
      width: 70%;
      margin-left: 15%;
    }

    .copyrights-div {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFD700;
      padding-bottom: 0.6%;
    }
  }
}

// Styles pour les écrans de largeur inférieure à 490px
@media (max-width: 490px) {
  * {
    box-sizing: border-box;
    resize: none;
    font-family: 'K2D', sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }

  header {
    height: 70px;
    background-color: #1254b9;
  }

  nav {
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      h1 {
        color: #FFD700;
      }

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50vw;
        list-style: none;
        text-decoration: none;

        li {
          a {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
            color: #FFD700;

            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  /* Main Section */
  main {
    hr {
      border: 5px solid #FFD700;
      margin: 0;
    }
  }

  /* Footer Section */
  footer {
    height: 70px;
    background-color: #1254b9;
    bottom: 0;
    position: relative;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFD700;
    }
  }
}
