.ForgetPassword{
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ForgetPassword__container{
        width: 100%;
        max-width: 400px;
        padding: 20px;
        border: 2px solid var(--color-black);
        border-radius: 5px;
        background-color: #0000002a;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin-bottom: 20px;
            color: var(--color-secondary);
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
        
        input {
            padding: 10px;
            width:  100%;
            border: none;
            border-radius: 5px;
            background-color: var(--color-white);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            transition: all 0.3s ease-in-out;
            margin-bottom: 20px;
            font-size: 15px;

            &:focus {
                transform: scale(1.02);
            }
        }

        button {
            padding: 10px;
            width: 100%;
            border: none;
            border-radius: 5px;
            background-color: var(--color-white);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.03);
                background-color: var(--color-secondary);
            }

        }
    }
}

.links{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
    background-color: var(--color-white);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.03);
        color: var(--color-black);
    }
}